body,html {
  margin:0;
}

.quit-btn-hover {
  background-color: green!important;
}

.quit-btn {
  width:100px;
  height:30px;
  color: #ffffff;
  background-color: #000000;
  position: absolute;
  top:1rem;
  right:1rem;
  cursor: pointer;
  border-radius: .5rem;
  border: 1px solid #ffffff;
} 
